<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
<security>
      <requestFiltering>
        <!-- Measured in Bytes -->
        <requestLimits maxAllowedContentLength="2147483647" />  <!-- 2 GB-->
      </requestFiltering>
    </security>  </system.webServer>
</configuration>
